# Clase 3

Overfitting: No generaliza con los nuevos datos pero si con el entrenamiento


y = mx+b

m = tambien se conoce como weight
x = feature
b = bias

modelo se obtiene con criterio matemática y criterio optimización 

Transfer learning 

Regularización: minimizar el overfitting, 


SVM
Maximizar los margines

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase2/titanic.csv")

In [4]:
data.shape

(891, 12)

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
cols_to_use = ['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']

In [13]:
data2

     Pclass     Sex   Age  SibSp  Parch      Fare  Survived
0         3    male  22.0      1      0    7.2500         0
1         1  female  38.0      1      0   71.2833         1
2         3  female  26.0      0      0    7.9250         1
3         1  female  35.0      1      0   53.1000         1
4         3    male  35.0      0      0    8.0500         0
5         3    male   NaN      0      0    8.4583         0
6         1    male  54.0      0      0   51.8625         0
7         3    male   2.0      3      1   21.0750         0
8         3  female  27.0      0      2   11.1333         1
9         2  female  14.0      1      0   30.0708         1
10        3  female   4.0      1      1   16.7000         1
11        1  female  58.0      0      0   26.5500         1
12        3    male  20.0      0      0    8.0500         0
13        3    male  39.0      1      5   31.2750         0
14        3  female  14.0      0      0    7.8542         0
15        2  female  55.0      0      0   16.0000         1
16        3    male   2.0      4      1   29.1250         0
17        2    male   NaN      0      0   13.0000         1
18        3  female  31.0      1      0   18.0000         0
19        3  female   NaN      0      0    7.2250         1
20        2    male  35.0      0      0   26.0000         0
21        2    male  34.0      0      0   13.0000         1
22        3  female  15.0      0      0    8.0292         1
23        1    male  28.0      0      0   35.5000         1
24        3  female   8.0      3      1   21.0750         0
25        3  female  38.0      1      5   31.3875         1
26        3    male   NaN      0      0    7.2250         0
27        1    male  19.0      3      2  263.0000         0
28        3  female   NaN      0      0    7.8792         1
29        3    male   NaN      0      0    7.8958         0
..      ...     ...   ...    ...    ...       ...       ...
861       2    male  21.0      1      0   11.5000         0
862       1  female  48.0      0      0   25.9292         1
863       3  female   NaN      8      2   69.5500         0
864       2    male  24.0      0      0   13.0000         0
865       2  female  42.0      0      0   13.0000         1
866       2  female  27.0      1      0   13.8583         1
867       1    male  31.0      0      0   50.4958         0
868       3    male   NaN      0      0    9.5000         0
869       3    male   4.0      1      1   11.1333         1
870       3    male  26.0      0      0    7.8958         0
871       1  female  47.0      1      1   52.5542         1
872       1    male  33.0      0      0    5.0000         0
873       3    male  47.0      0      0    9.0000         0
874       2  female  28.0      1      0   24.0000         1
875       3  female  15.0      0      0    7.2250         1
876       3    male  20.0      0      0    9.8458         0
877       3    male  19.0      0      0    7.8958         0
878       3    male   NaN      0      0    7.8958         0
879       1  female  56.0      0      1   83.1583         1
880       2  female  25.0      0      1   26.0000         1
881       3    male  33.0      0      0    7.8958         0
882       3  female  22.0      0      0   10.5167         0
883       2    male  28.0      0      0   10.5000         0
884       3    male  25.0      0      0    7.0500         0
885       3  female  39.0      0      5   29.1250         0
886       2    male  27.0      0      0   13.0000         0
887       1  female  19.0      0      0   30.0000         1
888       3  female   NaN      1      2   23.4500         0
889       1    male  26.0      0      0   30.0000         1
890       3    male  32.0      0      0    7.7500         0

[891 rows x 7 columns]

In [14]:
data2 = data[cols_to_use]

In [15]:
data2.isnull().values.any()

True

In [17]:
data2 = data2.dropna()

In [18]:
data2['Sex'] = data2['Sex'].replace({'male':0,'female':1})

In [19]:
from sklearn.model_selection import train_test_split

In [30]:
features = data2[['Pclass','Sex','Age','Fare','SibSp','Parch']]
labels = data2['Survived']

In [31]:
X_train, X_test,Y_train,Y_test = train_test_split(features,labels,random_state =13)

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
DecisionTreeModel = DecisionTreeClassifier(max_depth =3)

In [34]:
DecisionTreeModel.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
y_predict = DecisionTreeModel.predict(X_test)

In [37]:
accuracy_score(Y_test,y_predict)

0.8044692737430168